<div style="text-align:center">
  <h1>
    Welcome to 
  </h1>
  <img width="300" alt="Chillflix Logo" src="../assets/images/ChillFlix_logo.png">
</div>

<h3>Most Recent</h3>
<div class="row bar">
  <ul class="list-unstyled list-inline carousel">
      <a *ngFor="let movie of movies"
        [routerLink]="['/details', movie.id]">
        <li class="list-inline-item">
          <div class="movie">
            <h4 class="movieTitle">{{movie.Title}}</h4>
            <img class="col-sm thumbnail" src={{movie.thumbnailURL}}>
          </div>
        </li>
      </a>
  </ul>
</div>
