#logo{
    width: 10%;
    min-width: 100px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}

#collapse{
    width: 2%;
    min-width: 20px;
    cursor: pointer;
}

#settings, #search{
    width: 2%;
    min-width: 20px;
    float: right;
    cursor: pointer;
}

#search{
    margin-right: 20px;
}